{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <title>Cryopanel4 Monitor</title>
</head>
<body>
    <div class="top-navbar" >
        <a href="#" class="logo-img">
            <img src="{% static 'images/icon/quantum-logo.png' %}" alt="quantum-logo" />
        </a>
        <div class="logo-name">Quantum Cryogenics</div>
        <div id="app" style="display: flex; flex: 1; justify-content: center; margin-top: 15px;"></div>
    </div>
    <div class="outerwraper">
        <div id="modalAlert" class="modal">
            <div class="modal-content">
                <h2>Please wait. The data will be fetched in:</h2>
                <br>
                <p id="countdown" class="countdown-style">60</p>
            </div>
        </div>
          
        {% if sensor_amount <= 4 %}
            {% for each_sensor in sensors %}
                <div class="sensor_box sensor-xl">
                    <div class="sensor-title">
                        <div id="{{ each_sensor.id }}" class="sensor_name">{{ each_sensor.name }}</div>
                        <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
                        <div id="{{ each_sensor.heartbeat }}" class="sensor_name" style="justify-content:flex-end; padding-right: 1vw;">
                            <i class="fas fa-heart fa-lg"></i>
                        </div>
                    </div>
                    <div>
                        <div id="{{ each_sensor.update }}" class="sensor-below-title"></div>
                    </div>
                    
                    <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
                </div>
            {% endfor %}
            {% elif sensor_amount <= 8 %}
            {% for each_sensor in sensors %}
                <div class="sensor_box sensor-m">
                    <div class="sensor-title">
                        <div id="{{ each_sensor.id }}" class="sensor_name">{{ each_sensor.name }}</div>
                        <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
                        <div id="{{ each_sensor.heartbeat }}" class="sensor_name" style="justify-content:flex-end; padding-right: 1vw;">
                            <i class="fas fa-heart fa-lg"></i>
                        </div>
                    </div>
                    <div>
                        <div id="{{ each_sensor.update }}" class="sensor-below-title"></div>
                    </div>
                    
                    <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
                </div>
            {% endfor %}
            {% elif sensor_amount <= 12 %}
            {% for each_sensor in sensors %}
                <div class="sensor_box sensor-s">
                    <div class="sensor-title">
                        <div id="{{ each_sensor.id }}" class="sensor_name">{{ each_sensor.name }}</div>
                        <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
                        <div id="{{ each_sensor.heartbeat }}" class="sensor_name" style="justify-content:flex-end; padding-right: 1vw;">
                            <i class="fas fa-heart fa-lg"></i>
                        </div>
                    </div>
                    <div>
                        <div id="{{ each_sensor.update }}" class="sensor-below-title"></div>
                    </div>
                    
                    <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="bottom-navbar">
    </div>

    <script src="{% static 'js/main.js' %}"></script>
   
</body>
</html>