{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <title>Cryopanel4 Monitor</title>
</head>

<body>
    <div class="top-navbar" onclick="toggleMenu()">
        <a id="lg-quantum" href="#" class="logo-img">
            <img id="logo-quantum" src="{% static 'images/icon/quantum-logo.png' %}" alt="quantum-logo" />
        </a>
        <div class="logo-name">Quantum Cryogenics</div>
        <div id="app" style="display: flex; flex: 1; justify-content: center; margin-top: 15px;"></div>
    </div>

    <div class="menu-content">
        <div class="container_options">
            <h3 class="average_graph">average graph options</h3>
            <div>
                <label for="graph_dropdown" class="dropdown-label">Number of graphs to generate</label>
                <select id="graph_dropdown" style="margin-left: 10px;" onchange="toggleRows()">
                    <option>--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div id="row_1" class="row_sensors" style="display: none;">
                <label for="sensor_dropdown_1" class="dropdown-label">Choose the channels</label>
                <select id="sensor_dropdown_1" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_1', 'sensor_dropdown_11')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
                <select id="sensor_dropdown_11" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_11', 'sensor_dropdown_1')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
            </div>
            <div id="row_2" class="row_sensors" style="display: none;">
                <label for="sensor_dropdown_2" class="dropdown-label">Choose the channels</label>
                <select id="sensor_dropdown_2" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_2', 'sensor_dropdown_22')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
                <select id="sensor_dropdown_22" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_22', 'sensor_dropdown_2')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
            </div>

            <div id="row_3" class="row_sensors" style="display: none;">
                <label for="sensor_dropdown_3" class="dropdown-label">Choose the channels</label>
                <select id="sensor_dropdown_3" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_3', 'sensor_dropdown_33')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
                <select id="sensor_dropdown_33" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_33', 'sensor_dropdown_3')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
            </div>
        </div>
        <button id="generate_btn" class="container_options" style="display: none;"
            onclick="showDragModal()">generate</button>
    </div>


    <div class="outerwraper">
        <div id="modalAlert" class="modal">
            <div class="modal-content">
                <h2>Please wait. The data will be fetched in:</h2>
                <br>
                <p id="countdown" class="countdown-style">60</p>
            </div>
        </div>

        <div id="dragmodal" class="drag-modal">
            <div class="drag-modal-content">
                <span class="drag-close">&times;</span>
                <h2>Draggable Modal</h2>
                <p>Drag this modal anywhere on the screen.</p>
                <div id="averageGraph"></div> 
            </div>
        </div>




        {% if sensor_amount <= 4 %} {% for each_sensor in sensors %} <div class="sensor_box sensor-xl">
            <div class="sensor-title">
                <div id="{{ each_sensor.id }}" class="sensor_name">{{ each_sensor.name }}</div>
                <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
                <div id="{{ each_sensor.heartbeat }}" class="sensor_name"
                    style="justify-content:flex-end; padding-right: 1vw;">
                    <i class="fas fa-heart fa-lg"></i>
                </div>
            </div>
            <div>
                <div id="{{ each_sensor.update }}" class="sensor-below-title"></div>
            </div>

            <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
    </div>
    {% endfor %}
    {% elif sensor_amount <= 8 %} {% for each_sensor in sensors %} <div class="sensor_box sensor-m">
        <div class="sensor-title">
            <div id="{{ each_sensor.id }}" class="sensor_name">{{ each_sensor.name }}</div>
            <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
            <div id="{{ each_sensor.heartbeat }}" class="sensor_name"
                style="justify-content:flex-end; padding-right: 1vw;">
                <i class="fas fa-heart fa-lg"></i>
            </div>
        </div>
        <div>
            <div id="{{ each_sensor.update }}" class="sensor-below-title"></div>
        </div>

        <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
        </div>
        {% endfor %}
        {% elif sensor_amount <= 12 %} {% for each_sensor in sensors %} <div class="sensor_box sensor-s">
            <div class="sensor-title">
                <div id="{{ each_sensor.id }}" class="sensor_name">{{ each_sensor.name }}</div>
                <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
                <div id="{{ each_sensor.heartbeat }}" class="sensor_name"
                    style="justify-content:flex-end; padding-right: 1vw;">
                    <i class="fas fa-heart fa-lg"></i>
                </div>
            </div>
            <div>
                <div id="{{ each_sensor.update }}" class="sensor-below-title"></div>
            </div>

            <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
            </div>
            {% endfor %}
            {% endif %}
            </div>
            <div class="bottom-navbar">
            </div>

            <script src="{% static 'js/main.js' %}"></script>

</body>

</html>