{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/ledbutton.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    {% comment %} <script src="jquery-3.6.4.min.js"></script> {% endcomment %}
    <title>Cryopanel4 Monitor</title>
</head>

<body>
    <div class="top-navbar" >
        <a id="lg-quantum" href="#" class="logo-img">
            <img id="logo-quantum" src="{% static 'images/icon/quantum-logo.png' %}" alt="quantum-logo" onclick="toggleMenu()"/>
        </a>
        <div class="logo-name">Quantum Cryogenics</div>
        <div id="app" style="display: flex; flex: 1; justify-content: center; margin-top: 15px;"></div>

        {% comment %} led buttons {% endcomment %}
        <div class="container">
            <div class="led-box">
              <div id="d1-btn" class="led-blue"></div>
              <p>D1</p>
            </div>
              <div class="led-box">
              <div id="d2-btn" class="led-blue"></div>
              <p>D2</p>
            </div>
            <div class="led-box">
              <div id="d3-btn" class="led-blue"></div>
              <p>D3</p>
            </div>
            <div class="led-box">
              <div id="d4-btn" class="led-blue"></div>
              <p>D4</p>
            </div>
        </div>

    </div>

    <div class="menu-content">
        <div class="container_options">
            <h3 class="average_graph">average graph options</h3>

            <h4>Choose the gas you want to monitor</h4>
            <div id="radio-btns" style="margin-bottom: 20px;"> 
                <input type="radio" name="radioGroup" value="O" id="o2" onchange="toggleSecondDivO2()">
                <label for="option1">O2</label>

                <input type="radio" name="radioGroup" value="CO" id="co2" onchange="toggleSecondDivCO2()">
                <label for="option2">CO2</label>

                <input type="radio" name="radioGroup" value="LN" id="ln2" onchange="toggleSecondDivLN2()">
                <label for="option3">LN2</label>

                <input type="radio" name="radioGroup" value="H" id="h2" onchange="toggleSecondDivH2()">
                <label for="option4">H2</label>

                <input type="radio" name="radioGroup" value="Ar" id="Ar" onchange="toggleSecondDivAr()">
                <label for="option4">Ar</label>
            </div>

            <div id="graphs-generator">
                <label for="graph_dropdown" class="dropdown-label">Number of graphs to generate</label>
                <select id="graph_dropdown" style="margin-left: 10px;" onchange="toggleRows()">
                    <option>--</option>
                    <option value="1">1</option>
                    <option value="2" disabled>2</option>
                    <option value="3" disabled>3</option>
                </select>
            </div>
            
            <div id="row_1" class="row_sensors" style="display: none;">
                <label for="sensor_dropdown_1" class="dropdown-label">Choose the channels</label>
                
                <select id="sensor_dropdown_1" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_1', 'sensor_dropdown_11'); validateOptions()">
                    <option>--</option>
                    <option id="0" value="1">Sensor 1</option>
                    <option id="1" value="2">Sensor 2</option>
                    <option id="2" value="3">Sensor 3</option>
                    <option id="3" value="4">Sensor 4</option>
                </select>
                
                <select id="sensor_dropdown_11" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_11', 'sensor_dropdown_1'); validateOptions()">
                    <option>--</option>
                    <option id="0" value="1">Sensor 1</option>
                    <option id="1" value="2">Sensor 2</option>
                    <option id="2" value="3">Sensor 3</option>
                    <option id="3" value="4">Sensor 4</option>
                </select>
            </div>
            
            <div id="row_2" class="row_sensors" style="display: none;">
                <label for="sensor_dropdown_2" class="dropdown-label">Choose the channels</label>
                <select id="sensor_dropdown_2" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_2', 'sensor_dropdown_22')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
                <select id="sensor_dropdown_22" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_22', 'sensor_dropdown_2')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
            </div>

            <div id="row_3" class="row_sensors" style="display: none;">
                <label for="sensor_dropdown_3" class="dropdown-label">Choose the channels</label>
                <select id="sensor_dropdown_3" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_3', 'sensor_dropdown_33')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
                <select id="sensor_dropdown_33" style="margin-left: 10px;"
                    onchange="disableSelectedOptions('sensor_dropdown_33', 'sensor_dropdown_3')">
                    <option>--</option>
                    <option value="option1">Sensor 1</option>
                    <option value="option2">Sensor 2</option>
                    <option value="option3">Sensor 3</option>
                    <option value="option4">Sensor 4</option>
                    <option value="option5">Sensor 5</option>
                    <option value="option6">Sensor 6</option>
                    <option value="option7">Sensor 7</option>
                    <option value="option8">Sensor 8</option>
                    <option value="option9">Sensor 9</option>
                    <option value="option10">Sensor 10</option>
                    <option value="option11">Sensor 11</option>
                    <option value="option12">Sensor 12</option>
                </select>
            </div>
        </div>
        <button id="generate_btn" class="container_options" style="display: none;"
            onclick="showDragModal()" disabled>generate</button>
    </div>


    <div id="graphCom" class="outerwraper">
        {% comment %} <div id="modalAlert" class="modal">
            <div class="modal-content">
                <h2>Please wait. The data will be fetched in:</h2>
                <br>
                <p id="countdown" class="countdown-style">60</p>
            </div>
        </div> {% endcomment %}
        <div id="countdown-lost-cp4" class="modal-lost-communication">
            <div class="modal-content-lost-cp4">
              {% comment %} <span class="close">&times;</span> {% endcomment %}
              <h2>CP4: Connection Lost</h2>
            </div>
        </div>
        

        <div id="dragmodal" class="drag-modal">
            {% comment %} <span class="drag-close" style="border: 2px solid red; color: #fafafa; margin-right: 5px; margin-top:5px;" onclick="closeModal()">&times;</span> {% endcomment %}
            <span class="drag-close" onclick="closeModal()"><i class="fas fa-times"></i></span>


            <div class="drag-modal-content">
                <div class="sensor-title">
                    <div id="avg_label" class="sensor_name">Avarege Value</div>
                    <div id="average_data" class="latest_reading">Disabled</div>
                    <div id="heart_beat_avg" class="sensor_name"
                        style="justify-content:flex-end; padding-right: 1vw;">
                        <i class="fas fa-heart fa-lg"></i>
                    </div>
                </div>
                <div>
                    <div id="update-avg" class="avg-graph-update avg-graph-update-color"></div>
                </div>
                <div id="averagechart"></div>
            </div>
            {% comment %} <div id="countdown-div" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
                <div style="text-align: center;">
                    <h4 style="color: #fafafa; margin-bottom: 5px;">The average chart will be updated in</h4>
                    <h3 id="countdown-timer" style="color: #fafafa;">60</h3>
                </div>
            </div> {% endcomment %}
        </div>

        {% if sensor_amount <= 4 %} 
            {% for each_sensor in sensors %} 
                <div class="sensor_box sensor-xl">
                    <div class="sensor-title">
                        <div id="{{ each_sensor.id }}" class="sensor_name div_title" onclick="sensorPress(this)">{{ each_sensor.name }}
                            <span id="{{each_sensor.id}}-customName" class="custom-name-span" >{{ each_sensor.custom_name }}</span>
                            <input type="text" id="{{ each_sensor.id }}-customNameInput" class="custom-name-input" placeholder=" Type and press ENTER" style="color: rgba(255,255,255,0.6); display: none;">
                        </div>
                        <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
                        <div id="{{ each_sensor.heartbeat }}" class="sensor_name"
                            style="justify-content:flex-end; padding-right: 1vw;">
                            <i class="fas fa-heart fa-lg"></i>
                        </div>
                    </div>
                <div>
                <div id="{{ each_sensor.update }}" class="sensor-below-title sensor-below-title-color"></div>
            </div>

            <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
    </div>
    {% endfor %}
    {% elif sensor_amount <= 8 %} {% for each_sensor in sensors %} <div class="sensor_box sensor-m">
        <div class="sensor-title">
            <div id="{{ each_sensor.id }}" class="sensor_name">{{ each_sensor.name }}</div>
            <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
            <div id="{{ each_sensor.heartbeat }}" class="sensor_name"
                style="justify-content:flex-end; padding-right: 1vw;">
                <i class="fas fa-heart fa-lg"></i>
            </div>
        </div>
        <div>
            <div id="{{ each_sensor.update }}" class="sensor-below-title"></div>
        </div>

        <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
        </div>
        {% endfor %}
        {% elif sensor_amount <= 12 %} {% for each_sensor in sensors %} <div class="sensor_box sensor-s">
            <div class="sensor-title">
                <div id="{{ each_sensor.id }}" class="sensor_name">{{ each_sensor.name }}</div>
                <div id="{{ each_sensor.channel }}" class="latest_reading">NO DATA</div>
                <div id="{{ each_sensor.heartbeat }}" class="sensor_name"
                    style="justify-content:flex-end; padding-right: 1vw;">
                    <i class="fas fa-heart fa-lg"></i>
                </div>
            </div>
            <div>
                <div id="{{ each_sensor.update }}" class="sensor-below-title sensor-below-title-color">No Update</div>
            </div>

            <div class="graph-wrapper" id="graph_{{ forloop.counter }}"></div>
            </div>
            {% endfor %}
            {% endif %}
            </div>

            <script src="{% static 'js/main.js' %}"></script>
            <script src="{% static 'js/socket.js' %}"></script>

</body>

</html>